@use "sass:map";

// COLORS
$red: #c7380f;
$rose-900: #260f08;
$rose-500: #87635a;
$rose-400: #ad8a85;
$rose-300: #caa7a7;
$rose-100: #f5eeec;
$rose-50: #fcf8f6;
$green: #1ea875;
$black: #000000;
$white: #ffffff;

// Font Family
$font-family: "Red Hat Text", sans-serif;

// Typography Presets
$text-preset-1: (
  font-size: 56px,
  font-weight: 700,
  // Bold
  line-height: 120%,
  letter-spacing: 0px,
);

$text-preset-2: (
  font-size: 24px,
  font-weight: 700,
  // Bold
  line-height: 125%,
  letter-spacing: 0px,
);

$text-preset-3: (
  font-size: 16px,
  font-weight: 600,
  // Semi Bold
  line-height: 150%,
  letter-spacing: 0px,
);

$text-preset-4: (
  font-size: 14px,
  font-weight: 400,
  // Regular
  line-height: 150%,
  letter-spacing: 0px,
);

$text-preset-4-bold: (
  font-size: 14px,
  font-weight: 600,
  // Semi Bold
  line-height: 150%,
  letter-spacing: 0px,
);

//Spacing

$spacing-50: 4px;
$spacing-100: 8px;
$spacing-150: 12px;
$spacing-200: 16px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-500: 40px;
$spacing-1100: 88px;
